@font-face {
   font-family: 'ProstoOne-Regular';
   font-display: swap;
   src: url('file:///C:/Users/MarcsPC/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-16_204518/fonts/ProstoOne-Regular/font.ttf');
}
